[user]
	name = compiledge
	username = compiledge
	email = eduardo.iftm@gmail.com
[core]
	editor = nvim
	excludesfile = /home/eduardo/.gitignoreg
[diff]
	tool = nvimdiff
[difftool]
	prompt = true
[merge]
	tool = nvimdiff
	prompt = true
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
