#
# ░█▄█░█▀█░█░█░█▀▀
# ░█░█░█▀█░█▀▄░█▀▀
# ░▀░▀░▀░▀░▀░▀░▀▀▀
#
#------------------------------------------------
snippet start "Basic rule" b
bin: ${1:[tab]:filename}.o
	gcc -o ${2:[tab]:bin-name} $1.c -g -Wall 
$0
endsnippet
#------------------------------------------------
