#
# ░█▀▀░█▀█░▀█▀░█▀█░█▀█░█▀▀░▀█▀░█▀▀
# ░▀▀█░█░█░░█░░█▀▀░█▀▀░█▀▀░░█░░▀▀█
# ░▀▀▀░▀░▀░▀▀▀░▀░░░▀░░░▀▀▀░░▀░░▀▀▀
#
snippet snip "A snippet for writing Ultisnips snippets" b
`!p snip.rv = "snippet"` ${1:[tab]:trigger} "${2:[tab]:Description}" ${3:[tab]:options}
$4
`!p snip.rv = "endsnippet"`
$0
endsnippet
